<system.diagnostics>

  <trace autoflush="true" indentsize="0">
    <listeners>
      <clear />
      <add name="textfileListener" />
      <add name="estl" />
      <remove name="Default"/>
    </listeners>
  </trace>
  
  <sharedListeners>
    <add name="estl" type="ElasticSearch.Diagnostics.ElasticSearchTraceListener, ElasticSearch.Diagnostics" ElasticSearchUri="http://smellycat01.sbp-rbdev.net:9200" ElasticSearchIndex="trace" ElasticSearchTraceIndex="trace" />
    <add name="textfileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="ADWebService.log"/>
    <add name="r5log" callStackType="Error" traceOutputOptions="Timestamp" type="Rauland.R5TraceListeners.R5DBTraceListener,Rauland.R5TraceListeners" initializeData="SERVER=.;DATABASE=r5log;Trusted_Connection=True;Connection Timeout=30;"  />
  </sharedListeners>
  
  <sources>
    <source name="R5AppDataWebService">
      <listeners>
        <add name="textfileListener" />
        <add name="r5log" />
      </listeners>
    </source>
  </sources>
</system.diagnostics>